/* gerais↓ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&family=Roboto:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: solid;
    color: black;
}

body, html {
    display: flex;
    height: 100%;
    margin: 0px;
    flex-direction: column;
    font-family: 'roboto';
}

body {
    background-image: url('/img/rio.jpeg');
}

/* gerais↑ */
/*  Header↓ */

header {
    width: 100%;
    display: flex;
    background-color: #C4C4C4;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}

.logo {
    margin-bottom: 12px;
    width: 340px;
    height: 140px;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    font-family: 'roboto-condensed';
    border: solid 1px black;
    font-style: normal;
    font-weight: 100px;
    font-size: 25px;
    line-height: 75px;
}

header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav a {
    text-decoration: solid;
    color: #000000;
    margin: 12px;
    background-color: #C4C4C4;
    width: 197px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    border: solid 1px black;
    font-style: normal;
    font-weight: 100px;
    font-size: 22px;
    line-height: 75px;
}

/* header↑ */
        /* conteudo↓ */

.banner {
    width: 100%;
    height: 532px;
    background-image: url(/img/rj.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1280px;
}

section p {
    margin-top: 0px;
}

.p-negrito {
    font-weight: bolder;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'roboto-condensed';
}

.conteudo h2 {
    margin-top: 28px;
    font-size: 25px;
    margin-left: 123px;
    margin-right: 770px;
    margin-bottom: 18.5px;
}

.conteudo div {
    background-color: #C4C4C4;
    width: 335px;
    height: 534px;
    margin: 18px;
    border-radius: 35px;
    margin-top: 18.5px;
}

.caixa1 {
    display: flex;
    padding-top: 50%;
    text-align: center;
}

.caixa2 {
    text-align: center;
    padding-top: 50%;
}

.caixa3 {    
    text-align: center;
    padding-top: 50%;
}

/* video↓ */

.video {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    width: 80%;
    margin: 0px;
    align-items: flex-start;
}

.video iframe {
    border-radius: 36px;
    width: 335px;
    height: 534px;
    margin: 18px;
}

/* video↑ */
        /* conteudo↑ */
/* footer↓ */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;;
}

footer a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    color: black;
    margin-bottom: 100px;
    width: fit-content;
    flex-direction: column;
}


footer h2 {
    width: fit-content;
    align-self: center;
    margin-top: 24px;
    font-size: 64px;
}

footer a img{
    width: 141px;
    height: 141px;
    border-radius: 100%;
}

.rodape {
    font-weight: 400px;
    font-style: normal;
    font-size: 64px;
    margin-bottom: 55px;
    margin-top: 33px;
}

/* footer↑ */
/* desktop↓ */

@media (min-width: 426px) {

    header {
        align-items: center;
        justify-content: space-evenly;
    }

    header nav {
        display: flex;
        flex-direction: row;
    }
    
    .conteudo h2 {
        margin-top: 98px;
    }
    
    .video {
        margin-top: 28px;
        margin-bottom: 233px;
    }

    .video iframe {
        border-radius: 36px;
        width: 1077px;
        height: 534px;
        margin: 18px;
    }

    footer {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    footer h2 {
        font-size: 64px;
    }

    .rodape {
        width: 100%;
        margin-left: 76px;
    }

    footer a {
        margin-left: 121.5px;
        margin-right: 121.5px;
    }

}

/* desktop↑ */
/* mobile↓ */

@media (max-width: 725px) {
    
    .banner{
        display: none;
    }
    
    .video iframe {
        border-radius: 36px;
        width: 335px;
        height: 534px;
        margin: 18px;
    }
}

/* mobile↑ */